Repository ritzau/deps-analyzer: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-imports, clang-format, buildifier, prettier, fix-whitespace

go-fmt:
  run: gofmt -w {staged_files} && git add {staged_files}

go-imports:
  run: "if command -v goimports > /dev/null 2>&1; then\n  goimports -w {staged_files} && git add {staged_files}\nelse\n  echo \"Warning: goimports not found. Install with: go install golang.org/x/tools/cmd/goimports@latest\"\nfi\n"

clang-format:
  run: "if command -v clang-format > /dev/null 2>&1; then\n  clang-format -i {staged_files} && git add {staged_files}\nelse\n  echo \"Warning: clang-format not found. Install it for your platform.\"\nfi\n"

buildifier:
  run: "BUILDIFIER=$(go env GOPATH)/bin/buildifier\nif [ -x \"$BUILDIFIER\" ]; then\n  \"$BUILDIFIER\" -mode=fix {staged_files} && git add {staged_files}\nelse\n  echo \"Warning: buildifier not found. Install with: go install github.com/bazelbuild/buildtools/buildifier@latest\"\nfi\n"

prettier:
  run: "if command -v npx > /dev/null 2>&1; then\n  npx --yes prettier --write {staged_files} && git add {staged_files}\nelse\n  echo \"Warning: npx not found. Skipping prettier formatting.\"\nfi\n"

fix-whitespace:
  run: "for file in {staged_files}; do\n  # Strip trailing whitespace from each line\n  sed -i '' 's/[[:space:]]*$//' \"$file\"\n\n  # Ensure file ends with exactly one newline\n  # Remove all trailing newlines\n  sed -i '' -e :a -e '/^\\n*$/{$d;N;ba' -e '}' \"$file\"\n  # Add single newline at end\n 
  ...

Fix all errcheck linter warnings
  cmd/deps-analyzer/main.go
  pkg/analysis/runner.go
  pkg/deps/dfile.go
  pkg/graph/file_graph.go
  pkg/graph/file_graph_test.go
  pkg/pubsub/sse.go
  pkg/pubsub/sse_test.go
  pkg/watcher/watcher.go
  pkg/web/server.go
Due: go-fmt, go-imports, fix-whitespace

Remove unnecessary nil checks around range statements
  pkg/web/server.go
Due: go-fmt, go-imports, fix-whitespace

Use strconv.ParseUint for hex validation instead of manual character checks
  pkg/symbols/nm.go
Due: go-fmt, go-imports, fix-whitespace

Remove redundant nil check that caused SA5011 warning
  pkg/watcher/debouncer.go
  pkg/web/server.go
Due: go-fmt, go-imports, fix-whitespace

Convert if-else chain to switch statement for QF1003
  pkg/web/server.go
Due: go-fmt, go-imports, fix-whitespace

Remove unused buildBinaryGraphData function
  pkg/web/server.go
Due: go-fmt, go-imports, fix-whitespace

Remove unnecessary mutex fields from watcher structs
  pkg/watcher/debouncer.go
  pkg/watcher/watcher.go
Due: go-fmt, go-imports, fix-whitespace

Make golangci-lint mandatory in pre-commit hooks
  lefthook.yml
Due: fix-whitespace

Migrate to modern Go tool management and complete linter fixes
  Makefile
  TODO.md
  go.mod
  go.sum
  lefthook.yml
  tools.go
Due: go-fmt, go-imports, prettier, fix-whitespace

Remove pointless install-tools target from Makefile
  Makefile
Due: none

Format all code with prettier and other formatters
  pkg/analysis/runner.go
  pkg/graph/file_graph.go
  pkg/graph/file_graph_test.go
  pkg/lens/diff.go
  pkg/lens/renderer.go
  pkg/pubsub/sse.go
Due: go-fmt, go-imports, fix-whitespace

Fix whitespace hook adding extra newline
  lefthook.yml
Due: fix-whitespace

Fix whitespace hook to not add extra newline
  lefthook.yml
Due: fix-whitespace

Migrate from prettier to Biome for JavaScript/TypeScript formatting and linting
  biome.json
  lefthook.yml
  pkg/web/static/app.js
  pkg/web/static/lens-config.js
  pkg/web/static/lens-controls.js
  pkg/web/static/logger.js
  pkg/web/static/storage.js
  pkg/web/static/view-state.js
Due: prettier, fix-whitespace

Fix Biome integration in format command
  lefthook.yml
Due: fix-whitespace

Optimize Biome formatting performance
  lefthook.yml
Due: fix-whitespace

Fix lints
  pkg/web/static/app.js
  pkg/web/static/lens-config.js
  pkg/web/static/lens-controls.js
  pkg/web/static/storage.js
  pkg/web/static/view-state.js
Due: prettier, fix-whitespace

Fix remaining biome lints
  pkg/web/static/lens-config.js
  pkg/web/static/lens-controls.js
  pkg/web/static/storage.js
  pkg/web/static/styles.css
  pkg/web/static/view-state.js
Due: prettier, fix-whitespace

Clean up example project
  cmd/test-bazel-xml/main.go
  example/bin/core/engine.d
  example/bin/core/state.d
  example/bin/util/math.d
  example/bin/util/strings.d
  example/cycle_demo/BUILD.bazel
  example/foobar/BUILD.bazel
  example/foobar/foobar.c
Due: go-fmt, go-imports, buildifier, fix-whitespace

[Core] Implement Unified Graph Model
  pkg/model/graph.go
  pkg/model/model.go
Due: go-fmt, go-imports, fix-whitespace

[Config] Implement Hierarchical Configuration with Koanf
  go.mod
  go.sum
  pkg/config/config.go
Due: go-fmt, go-imports, fix-whitespace

[Logging] Support Instance-Based Logging and Dynamic Levels
  pkg/logging/logger.go
Due: go-fmt, go-imports, fix-whitespace

[Analysis] Define Common Source Interface
  pkg/analysis/source.go
Due: go-fmt, go-imports, fix-whitespace

[Runner] Break Import Cycle via Dependency Injection
  cmd/deps-analyzer/main.go
  pkg/analysis/runner.go
  pkg/bazel/executor.go
  pkg/bazel/parser.go
  pkg/bazel/source.go
Due: go-fmt, go-imports, fix-whitespace

[Runner] Wire Up Dependencies and Graph Merging
  cmd/deps-analyzer/main.go
  pkg/analysis/runner.go
  pkg/model/graph.go
Due: go-fmt, go-imports, fix-whitespace

[Sources] Move Interface to API pkg and Register CompileDeps
  cmd/deps-analyzer/main.go
  pkg/analysis/api/source.go
  pkg/analysis/runner.go
  pkg/bazel/source.go
  pkg/deps/source.go
Due: go-fmt, go-imports, fix-whitespace

[Symbols] Implement SymbolSource Adapter
  cmd/deps-analyzer/main.go
  pkg/symbols/source.go
Due: go-fmt, go-imports, fix-whitespace

[Refactor] Complete Modularization and Source Isolation
  .agent/workflows/git_commit.md
  pkg/analysis/runner.go
  pkg/analysis/source.go
  pkg/bazel/executor.go
  pkg/bazel/executor_mock.go
  pkg/bazel/parser_test.go
  pkg/bazel/query_test.go
  pkg/bazel/source.go
  pkg/bazel/source_test.go
  pkg/config/config.go
  pkg/deps/finder.go
  pkg/deps/source.go
  pkg/deps/source_test.go
  pkg/logging/middleware.go
  pkg/symbols/nm.go
  pkg/symbols/nm_test.go
  pkg/symbols/source.go
  pkg/symbols/source_test.go
Due: go-fmt, go-imports, prettier, fix-whitespace

[Tests] Add Cross-Platform NM Parser Tests
  pkg/symbols/nm_test.go
Due: go-fmt, go-imports, fix-whitespace

feat: UI refresh, performance improvements, and coverage support
  Makefile
  cmd/deps-analyzer/main.go
  pkg/analysis/runner.go
  pkg/bazel/query_test.go
  pkg/web/static/index.html
  pkg/web/static/styles.css
Due: go-fmt, go-imports, prettier, fix-whitespace

Refine LDD filter logic to respect negative filters
  pkg/lens/renderer.go
Due: go-fmt, go-imports, fix-whitespace

Rename 'Show Only LDD/Dynamic' to 'Hide Non-Binaries'
  pkg/lens/lens.go
  pkg/lens/renderer.go
  pkg/web/static/index.html
  pkg/web/static/lens-config.js
  pkg/web/static/lens-controls.js
Due: go-fmt, go-imports, prettier, fix-whitespace

Add debug logging for .d file parsing
  pkg/deps/dfile.go
  pkg/deps/finder.go
Due: go-fmt, go-imports, fix-whitespace

Path conditions:
  go-fmt: any of: *.go
  go-imports: any of: *.go
  clang-format: any of: *.{cc,h,cpp,hpp}
  buildifier: any of: {BUILD,*.bzl,WORKSPACE,*.bazel}
  prettier: any of: *.{js,ts,json,css,html,md}
  fix-whitespace: any of: *.{go,cc,h,cpp,hpp,js,ts,json,css,html,md,bzl,bazel,yml,yaml,sh}
